

body {
margin-top: 80px;
background-color: aqua;
height: 3000px;
}



.Header {
display: flex;
flex-direction: row;
background-color: rgb(137, 43, 226);
top: 0px;
right: 0px;
left: 0px;
margin: 0px;
position: fixed;
z-index: 100;
margin-bottom: 10%;
}

.Headerelement1 , .Headerelement2 , .Headerelement3 {
flex: 1;
width: 300px;
background-color: rgba(0, 0, 0, 0.347);
padding: 15px;
}

.Header1Text {
display: inline-block;



}
.searchbar {
width: 100%;
min-width: 440px;
height: 80%;


}

.projects {
margin-top: 7%;
display: flex;
flex-wrap: wrap;
height: 200px;
background-color: rgba(0, 0, 0, 0.537);
margin-right: 10px;
margin-bottom: 10px;
width: 200px;
border-style: solid;
padding: 5px

}

.project img{
height: 600px;
background-color: rgba(0, 0, 0, 0.537);
margin-right: 10px;
margin-bottom: 10px;
width: 570px;
}
.project p{
background-color: rgba(127, 172, 236, 0.847);
position: absolute;
left: 200px;
bottom: 45px;
right: 0px;
padding: 20px;
font-size: 30px;
font-weight: 800;
border-style: solid;
border-radius: 10px;
}