html, body {
  margin: 0;
  padding: 0;
}


.playgrid {
display: grid ; 
grid-template-columns: repeat(5, minmax(0,1fr));
grid-template-rows: repeat(3, minmax(0,1fr));
height: 100vh;
width: 100%;
margin: 0px;
padding: 0;
}

